/wsdlplay/nbproject/private/
/wsdlplay/build/
/wsdlplay2/nbproject/private/
/wsdlplay2/build/
/brillianStudents/nbproject/private/
/brillianStudents/build/
/bs/build/
/bs/nbproject/private/
/bs2/nbproject/private/
/bs2/build/
/bs2/dist/
/Common/nbproject/private/
/Common/build/
/Common/dist/
/middleware/nbproject/private/
/registryClient/nbproject/private/
/registryClient/build/
/registryClient/dist/
/middleware/build/
/middleware/dist/
/BrillianStudent/nbproject/private/
/TwineGenerator/nbproject/private/
/ExcuseGenerator/nbproject/private/
/TwineGenerator/build/
/TwineGenerator/dist/
/AgentGui/nbproject/private/
/BrillianStudent/build/
/ExcuseGenerator/build/
/AgentGui/build/
/agentCommon/dist/
/BrillianStudent/dist/
/ExcuseGenerator/dist/
/AgentGui/dist/