/wsdlplay/nbproject/private/
/wsdlplay/build/
/wsdlplay2/nbproject/private/
/wsdlplay2/build/
/brillianStudents/nbproject/private/
/brillianStudents/build/
/bs/build/
/bs/nbproject/private/
/bs2/nbproject/private/
/bs2/build/
/bs2/dist/